python-dotenv            # For reading environment variables stored in .env file
langchain
langchain-community
langchain-openai         # For embeddings
unstructured                    # Document loading
chromadb==0.5.0                 # Vector storage
#openai==1.31.1                  # For embeddings
llama-cpp-python                # For LLAMA models
tiktoken==0.7.0                 # For embeddings 

# install markdown depenendies with: `pip install "unstructured[md]"` after install the requirements file. Leave this line commented out. 